<!DOCTYPE html>
<html>
<head>
    {# hado icon font awsome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <meta charset="UTF-8">
    <title>{% block title %}E-Commerce{% endblock %}</title>
<link rel="stylesheet" href="{{ asset('assets/styles/base.css') }}">
  

</head>
<body>
   <div class="container">
    <header>
        <h1>E-Commerce Admin</h1>
    </header>
    <div class="section">
  <nav>
            <a href="{{ path('app_dashboard') }}"><i class="fas fa-home"></i> Dashboard</a>  
            <a href="{{ path('app_products') }}"><i class="fas fa-box"></i> Produits</a>
            <a href="{{ path('app_categories') }}"><i class="fas fa-tags"></i> Catégories</a>
        </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
   </div>
   </div>

</body>
</html>